.query{
    padding: 6px;
    border-radius: 5%;
    font-size: normal;
    color: var(--text-s-dark);

}

.query:hover{
    background-color: var(--bg-hover-dark);
    color: var(--text-s-dark);
    border: 1px solid #9b59b6;
}

.query-code{
    display: none;
    cursor: pointer;
}

.query:hover .query-code{
    display: block;
}

.recent-query-empty{
    color: var(--text-s-dark);
}