.query{
    padding: 6px;
    border-radius: 2%;
    font-size: small;
    color: var(--text-s-dark);

}

.query:hover{
    background-color: var(--bg-hover-dark);
    color: var(--text-s-dark);
}

.query-code{
    display: none;
    cursor: pointer;
}

.query:hover .query-code{
    display: block;
}

.recent-query-empty{
    color: var(--text-s-dark);
}