.display-container{
    background-color: #2d2d30;
    height: var(--table-h);
    width: 100%;
}
.empty-table-container{
    width: 100%;
    height: var(--table-h);
    text-align: center;
}

.tables{
    display: flex;
    width: 100%;
    position: relative;
}