.open-tabs{
    width: 100vw;
    background-color: var(--bg-p-dark);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse;
    z-index: 1;
    font-size: large;
}

.single-tab-container{
    padding: 10px;
    flex-shrink: 1;
    display: flex;
    padding-inline: 20px;
    border-left: 1px solid #3e3e42;
    color: #feed30;
    cursor: pointer;
}

.single-active-tab-container{
    padding: 10px;
    flex-shrink: 1;
    padding-left: 20px;
    padding-right: 8px;
    background-color: var(--bg-s-dark);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%; 
    border-top: 2px solid #007aac;
    border-left: 1px solid #3e3e42;
    color: #feed30;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    flex-shrink: 0;
}

.cancel-btn{
    margin-left: 20px;
    cursor: pointer;
    color: white;
    display: none;
}
.active-cancel-btn{
    margin-left: 20px;
    cursor: pointer;
    color: white;
}

