.ActivityBarItemContainer {
    background-color: var(--bg-p-dark);
    height: 250px;
    padding: 5px;
    border-bottom: 1px solid #3e3e42;
    overflow-y: scroll;
}

.ActivityBarItemContainer::-webkit-scrollbar {
    width: 0.1rem;
}

.ActivityBarItemContainer::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

.ActivityBarItemContainer::-webkit-scrollbar-thumb {
    background-color: #888;
}

.title {
    color: var(--text-p-dark);
    font-size: large;
    display: flex;
    justify-content: space-between;
}

.close-btn {
    cursor: pointer;
}