.table-container{
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #252526;
}


th{
  /* background-color: darkgrey;   */
  padding-top: 28px;
  color: #007acc;
  font-size: small;
  font-weight:normal;
}

table,th,td{
    border-collapse: collapse;
    width: 100vw;
}

td{
    text-align: center;
    color:darkgray;
}

tr:nth-child(odd) {
    /* background-color: #f2f2f2; */
}
  
tr:nth-child(even) {
    background-color: #2d2d30;; 
}
  
  
  
  
  
  